NEXT_PUBLIC_SUPABASE_URL="https://sxdgeiweathzyzyqbqux.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InN4ZGdlaXdlYXRoenl6eXFicXV4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3MDQ0NjAzMjUsImV4cCI6MjAyMDAzNjMyNX0.etStl6NY6KXxb2YFezJuxpHtf4Pmfg5JFp8JuqyTvqQ"
NEXT_PUBLIC_SUPABASE_SERVICE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InN4ZGdlaXdlYXRoenl6eXFicXV4Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTcwNDQ2MDMyNSwiZXhwIjoyMDIwMDM2MzI1fQ.DrOhEjmB2UO6Zf_p3TkffKQPPywX4ssq_Vrzn55O6wQ"
NEXT_PUBLIC_SUPABASE_JWT_SECRET="7PCfA9/J5i6MvEGkFywg4yregqsADwJ0DGOYb1Lxf+xYKTqiTZlFJvZ8hgY8e19dEnhsuBjJ8KxZ4uMt9Dgxnw=="

## Wallet Connect
NEXT_PUBLIC_WC2_PROJECT_ID="af6f82fc5c0064434404b0fb1389d223"

## Infura API Key
NEXT_PUBLIC_INFURA_GOERLI_URL = "https://goerli.infura.io/v3/be7c518afb7844039a2ae1af79fd898e"
//NEXT_PUBLIC_INFURA_MAIN_URL = "https://goerli.infura.io/v3/be7c518afb7844039a2ae1af79fd898e"
NEXT_PUBLIC_INFURA_SEPOLIA_URL = "https://goerli.infura.io/v3/be7c518afb7844039a2ae1af79fd898e"
NEXT_PUBLIC_INFURA_API_KEY="be7c518afb7844039a2ae1af79fd898e"

##  Etherscan API Key
NEXT_PUBLIC_ETHERSACN_API_URL = "https://api-goerli.etherscan.io/api";
NEXT_PUBLIC_ETHERSCAN_API_KEY = "HPSFBIWGBFH2YWHB7JUBAMADTXZ2J6AVRH";
## Auth message to validate the web3 signature
NEXT_PUBLIC_WEB3AUTH_MESSAGE=Please sign this message to confirm your identity. Nonce:

## Ocean Protocol Token Configuration
NEXT_PUBLIC_WEB3AUTH_TTL=3600
NEXT_PUBLIC_DATATOKEN_ADDRESS=0x7a250d5630B4cF539739dF2C5dAcb4c659F2488D

## App Configuration
NEXT_PUBLIC_APP_DOMAN=@yourdomain.com
NEXT_PUBLIC_SOLC_VERSION = "v0.8.23+commit.f704f362";
